@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --background: var(--sapBackgroundColor);
  --foreground: var(--sapContent_ForegroundColor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--sapBackgroundColor);
    --foreground: var(--sapContent_ForegroundColor);
  }
}

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
      box-sizing: border-box;
    }
  
    body {
      background: var(--background);
      color: var(--foreground);
      font-family: Arial, Helvetica, sans-serif;
      margin: 0 !important;
      padding: 0 !important;
    }
}

.analysis-chat-input::part(textarea) {
  padding-right: 2.5rem !important;
}

:not(:defined) {
  display: none;
}

/* RawDataModal Shadow DOM styles */
ui5-dialog.paddingless-content::part(content) {
  padding: 0rem;
  overflow: hidden;
  position: relative;
}

ui5-card.chat-history-card::part(root) {
  border-radius: 0.25rem;
  border: 1px solid var(--sapButton_BorderColor);
  box-shadow: var(--sapContent_Shadow);
}

ui5-card.chat-history-card ui5-panel::part(header) {
  border-radius: 0rem;
  border-bottom: 1px solid var(--sapContent_BorderColor);
}

ui5-card.chat-history-card ui5-panel::part(content) {
  padding: 0rem;
}

/* Charts: force cursor when zoom active */
.zoomable-container.zoom-active,
.zoomable-container.zoom-active * {
  cursor: move !important;
}
